* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

.parent {
    margin: 25px auto;
    width: 80vw;
    height: 500px;
    background-color: rgb(245, 237, 121);

    display: flex;
    /* flex-wrap: wrap; */
    /* Horizontalno poravnanje */

    justify-content: space-between;


    /* Verikalno poravnanje */

    align-items: start;

}

.box:nth-of-type(1) {
    /* flex-grow svojstvo nam sluzi da definisemo sirinu naseg kontejnera. Nije praksa koristiti
       uz njega i width. */
    flex-grow: 2;
    /* flex -shrink svojstvo dolazi do izrazaja kada suzavamo ekran. Sto je veca vrednost
       ovog svojstva, to se taj box vise suzava. */
    flex-shrink: 1;
    /* flex-basis: 250px; */
    /* flex: 1 2; */
    height: 100px;
    background-color: #ff0000;

    /* align-self: end; */
    /* order: 2; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.box:nth-of-type(2) {
    flex-grow: 1;
    flex-shrink: 2;
    /* flex-basis: 300px; */
    height: 100px;
    background-color: #00ff00;
    /* flex: 1 4; */
    /* align-self: center; */
    /* order: 3; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.box:nth-of-type(3) {
    flex-grow: 1;
    flex-shrink: 3;
    /* flex-basis: 250px; */
    height: 100px;
    background-color: #0000ff;
    /* flex: 1 2; */
    /* order: 1; */

    display: flex;
    justify-content: center;
    align-items: center;
}
