* {
    margin: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    
}

.back {
    margin: 20px auto;
    width: 850px;
    height: 700px;
    color: white;
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    /* background-size: 200px 100px; prva vrednost se odnosi na sirinu, druga na visinu */
    /* background-size: cover; za prekrivanje celog kontejnera */
    background-size: contain; /*  povecava fotografiju kako se se popunuo kontejner, ali ne sece je. */
}

.back h1 .cl1 {
    color:blue;
}