* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.glavni {
    width: 100vw;
    height: 200vh;
    background-color: aquamarine;
    position: relative;
}

.box1 {
    background-color: red;
    width: 100px;
    height: 100px;
    /* position: static; defaultna vrednost pozicioniranja */
    position: relative;
    top: 50px;
    left: 300px;
}

.box2 {
    background-color: rgb(0, 255, 55);
    width: 100px;
    height: 100px;
    position: absolute;
    /* Dozvoljene su i negativne vrednosti */
    top: -50px;
    left: -50px;
}

.box3 {
    background-color: rgb(0, 13, 255);
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.box4 {
    background-color: rgb(207, 244, 0);
    width: 100px;
    height: 100px;
    position: sticky;
    top: 100px;
    left: 100px;
    z-index: 5;
}


.box5 {
    background-color: rgb(107, 113, 73);
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
    z-index: 1;
}