* {
  margin: 0px;
}
.heder {
  width: 100vw;
  height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}

a {
  position: relative;
  top: 10px;
  text-decoration: none;
  color: black;
  left: 45px;
}

button {
  background-color: #5777ba;
  color: white;
  border-radius: 3px white;
  position: relative;
  right: 20px;
}
h2 {
  color: #5777ba;
  text-decoration: none;
  position: relative;
  top: 5px;
  left: 30px;
}
.text {
  width: 100%;
  height: 100vh;
}
.slika {
  width: 35%;
}
.tekst {
  width: 60%;
}
img {
  width: 300px;
  position: relative;

  left: 70px;
  height: 400px;
}

.futer {
  background-color: rgb(170, 170, 170);
  width: 100%;
  height: 70px;
}
h1 {
  font-size: 22px;
  position: relative;
  left: 400px;
  bottom: 350px;
}
.p {
  font-size: 15px;
  position: relative;
  bottom: 330px;
  left: 400px;
}
.ja {
  color: blue;
  position: relative;
  right: 50px;
}
.fa-check {
  position: relative;
  left: 400px;
  top: 240px;
  color: #5777ba;
}
.fa-twitter {
  position: relative;
  left: 800px;
}
.fa-facebook {
  position: relative;
  left: 800px;
}

.fa-instagram {
  position: relative;
  left: 800px;
}

.fa-skype {
  position: relative;
  left: 800px;
}

.pa {
  font-size: 15px;
  position: relative;
  bottom: 210px;
  left: 400px;
}
