/* Logo - boja slova: #5777ba;
Dugme - pozadina: #5777ba;
Ikonice - Boja: #5777ba;
Linkovi - boja slova: #47536e;
Naslov - boja slova: #47536e;
Paragraf - boja slova: #585a61; */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    width: 100%;
    height: 100px;
    box-shadow: 1px 1px 15px rgb(196, 196, 196);
    background-color: white;
    text-align: center;
    align-items: center;
}
.header h1{
    flex-grow: 6;
    color: #5777ba;
    text-align: start;
    margin-left: 150px;
}

.header a{
    flex-grow: 1;
    text-decoration: none;
    color: #47536e;
    margin-right: 20px;

}
.header button{
    flex-grow: 1;
    margin-right: 150px;
    border: solid #5777ba 1px;
    background-color: #5777ba;
    border-radius: 30px;
    padding: 20px;
    color: white;
}
.glavni{
    width: 80%;
    height: 650px;
    display: flex;
    margin: auto;
    padding-top: 100px;
}
img{
    width: 500px;
    height: 500px;
}
.tekst{
    width: 60%;
    height: 500px;
}
.tekst p{
    color: #585a61;
    padding-top: 20px;
    padding-bottom: 10px;
}
.tekst h1{
    color:  #47536e;
}
.tekst p{
    line-height: 25px;
}
.tekst .prvi{
    padding-top: 15px;
    padding-bottom: 15px;
}
.tekst .prvi i {
    padding-right: 10px;
    color: #5777ba;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #ededf6;
}
.footer p{
    align-self: center;
    padding-top: 22px;
    margin-left: 15px;
}
.jedante{
    width: 35%;
}
.ikonice{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: -65px;
    margin-right: 50px;
    
}
.ikonice i{
    margin-top: 12px;
    margin-left: 15px;
    font-size: 20px;
    border: solid rgb(223, 223, 223);
    border-radius: 50%;
    background-color:rgb(223, 223, 223) ;
    padding: 10px;
    color: #5777ba;
}
.footer a {
    text-decoration: none;
}