* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

.header {
    background-color: #ff7f50;
    width: 30vw;
    height: 4rem;
    padding: 10px;
    border: 2px dashed darkred;
}
.after {
    background-color: #2ea069;
    width: 30vw;
    height: 4rem;
    padding: 10px;
    border: 2px dotted darkred;
}
.footer {
    background-color: #9933d0;
    width: 30vw;
    height: 4rem;
    padding: 10px;
    border: 2px double darkred;
}