* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

.parent {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    background-color: rgb(245, 237, 121);

    display: flex;
    /* Horizontalno poravnanje */

    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    justify-content: space-between;
    /* justify-content: space-around; */

    /* Verikalno poravnanje */

    /* align-items: start; */
    align-items: center;
    /* align-items: end; */

}

.box:nth-of-type(1) {
    width: 100px;
    height: 100px;
    background-color: #ff0000;

    align-self: start;
}

.box:nth-of-type(2) {
    width: 100px;
    height: 100px;
    background-color: #00ff00;

    display: flex;
    align-items: end;


}

.box:nth-of-type(2) p:nth-of-type(2) {
    color: #8b0000;
    align-self: center;
}

.box:nth-of-type(3) {
    width: 100px;
    height: 100px;
    background-color: #0000ff;

    align-self: end;
}
