* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

.parent {
    margin: 0 auto;
    width: 80vw;
    height: 500px;    /* flex-wrap: nowrap;  defaultna vrednost */
    background-color: rgb(245, 237, 121);

    display: flex;
    /* flex-wrap: nowrap;  defaultna vrednost */
    flex-wrap: wrap;

    /* Horizontalno poravnanje */

    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    justify-content: space-between;
    /* justify-content: space-around; */

    /* Verikalno poravnanje */

    align-items: start;
    /* align-items: center; */
    /* align-items: end; */

}

.box:nth-of-type(1) {
    width: 200px;
    height: 100px;
    background-color: #ff0000;
    /* U slucaju primene order svojstva neophodno je dodeliti vrednost */
    /* za svaki od elemenata koji pripadaju parent kontejneru sa display: flex */
    order: 2;
}

.box:nth-of-type(2) {
    width: 200px;
    height: 100px;
    background-color: #00ff00;

    order: 3;
}


.box:nth-of-type(3) {
    width: 200px;
    height: 100px;
    background-color: #0000ff;

    order: 1;
}
