/* Logo - boja slova: #5777ba;
Dugme - pozadina: #5777ba;
Ikonice - Boja: #5777ba;
Linkovi - boja slova: #47536e;
Naslov - boja slova: #47536e;
Paragraf - boja slova: #585a61; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* background-color: red; */
}
.navbar {
  padding: 0 2%;
  background-color: #fff;
  display: flex;
  flex-basis: 100%;
  height: 7vw;
  align-items: center;
  justify-content: space-around;
  color: #5777ba;
  box-shadow: 2px 7px 5px 1px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 2px 7px 5px 1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 2px 7px 5px 1px rgba(0, 0, 0, 0.47);
}
.navbar h1 {
  margin: 0 5% 0 5%;
  font-weight: 500;
  font-size: 35px;
  color: #47536e;
}
.navbar ul {
  display: flex;

  margin: 0% 1% 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #47536e;
  font-size: 16px;
}

.navbar button {
  /* margin-top: -30px; */
  margin: 0 2%;
  background-color: #5777ba;
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 50px;
  color: #fff;
}
.navbar li {
  margin-left: 50px;
  list-style-type: none;
}
.main {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
.mainimg {
  margin-left: 3.5rem;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainimg img {
  width: 450px;
  height: 500px;
}

.maintext {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding-right: 90px;
}

.maintext p {
  margin: 20px 0;
  color: #585a61;
  font-size: 19px;
}

.maintext h1 {
  color: #47536e;
}

.maintext i {
  color: #5777ba;
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 28px;
}

span {
  color: #585a61;
  font-size: 18px;
  margin-left: 10px;
}

footer span {
  font-weight: 600;
}

footer {
  padding: 20px 30px;
  width: 100%;
  height: 6vw;
  background-color: rgb(223, 221, 221);
}
footer a {
  text-decoration: none;
}

footer p {
  margin-bottom: 5px;
}
.socialicons {
  margin-top: -40px;
}

.socialicons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.socialicons i {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  color: #5777ba;
}

.socialicons div {
  background-color: rgb(170, 166, 166);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 12px;
}
