* {
    margin: 0;
    box-sizing: border-box;
}

.parent {
    margin: 20px auto;
    background-color: #deb887;
    width: 80vw;
    height: 500px;
    display: flex;
    /* flex-direction: row; defaultna vrednost */
    flex-direction: column;

    /* Vertikalno poravnanje: (obrnuta logika u odnosu na defaultni flex-direction) */
    justify-content: center;

    /* align-items se u ovom slucaju odnosi na horizontalno poravnanje */
    align-items: center;

    gap: 10px;
    /* row-gap: 10px; prostor izmedju kontejnera  */
    /* column-gap: 10px; */
}

.box:nth-of-type(1) {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    /* flex-grow: 1; */
}

.box:nth-of-type(2) {
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    /* flex-grow: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-of-type(3) {
    width: 100px;
    height: 100px;
    background-color: #00ff00;
    /* flex-grow: 1; */
}